*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

.container {
  max-width: 1140px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-area {
  width: 100%;
  height: 100vh;
}

.element {
  /* width: 50px; */
  /* height: 50px; */
  padding: 10px;
  border: 1px solid black;
  border-radius: 9999px;
  background-color: #fff;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  text-transform: uppercase;
  user-select: none;

  position: absolute;
}

.element__btn {
  position: absolute;
  right: -8px;
  width: 16px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 50%;
  color: #000;
  opacity: .4;
  cursor: pointer;
}
.element__btn:hover {
  opacity: 1;
}

.element__edit {
  background-color: #808000;
  top: -10px;
}
.element__move {
  cursor: move;
}
.element__remove {
  background-color: hsl(0, 100%, 30%);
  bottom: -10px;
}

.element__input {
  border: none;
  text-align: center;
}

.hide {
  display: none;
}