:root {
  --delay-delete: 0.5s;
}

/* @font-face {
  font-family: 'ethnocentric';
  src: url(../fonts/ethnocentric.ttf);
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
button,
button:active,
button:focus {
  outline: none;
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: monospace;
  font-family: ethnocentric, monospace;
}
.start{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: hsla(0, 0%, 50%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__btn{
  font-family: monospace;
  color: #faebd7;

  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  background-color: transparent;
  cursor: pointer;
}
.start__btn:hover{
  font-weight: 700;
}




.container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  width: 100%;
  height: 40px;
  text-align: center;
}
.structure {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
}
/* draw-area style start */
.draw-area {
  width: 70%;
  overflow: hidden;
  margin: 0;
  margin-right: 10px;
  position: relative;
}
.text-area {
  width: 30%;
  text-align: center;
}

.canvas {
  background-color: #777;
  opacity: .5;
  padding: 0;
  margin: 0;
}
#canvas-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.element {
  position: absolute;
  font-size: 14px;
  padding: 15px;
  overflow: hidden;
  border-radius: 9999px;
  background-color: transparent;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  user-select: none;
  cursor: move;
}
.element-smooth-move {
  transition: all var(--delay-delete) linear;
}
.element:hover {
  z-index: 9999;
}

.element__text {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 9999px;
  background-color: #fff;
  z-index: 2;
}

.element__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: #000;
  opacity: 0;
  cursor: pointer;
  transition: all .3s linear;
}

.element:hover .element__btn {
  opacity: 1;
}

.element__btn-remove {
  background-color: hsl(0, 100%, 30%);
  bottom: -50%;
  right: -50%;
}
.element__btn-create {
  background-color: green;
  cursor: copy;
  top: -50%;
  left: -50%;
}
.element__btn-edit {
  background-color: orangered;
  cursor: text;
  top: -50%;
  right: -50%;
}
.element__btn-info {
  background-color: blue;
  cursor: help;
  bottom: -50%;
  left: -50%;
}


.element__input {
  border: none;
  text-align: center;
}

.footer {
  height: 30px;
  background-color: #303030;
  text-align: center;
  color: #faebd7;
  line-height: 30px;
}


.hide {
  display: none;
}
