:root {
  --delay-delete: 0.5s;
  --instrument-side-color: #777;
}

/* @font-face {
  font-family: 'ethnocentric';
  src: url(../fonts/ethnocentric.ttf);
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button,
button:active,
button:focus {
  outline: none;
}

body {
  position: relative;
  font-family: monospace;
  font-family: ethnocentric, monospace;
}
.start{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: hsla(0, 0%, 50%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.start__btn{
  font-family: monospace;
  color: #faebd7;

  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  background-color: transparent;
  cursor: pointer;
}
.start__btn:hover{
  font-weight: 700;
}

.instruments {
  position: absolute;
  z-index: 500;
  width: 100px;
  min-height: 100vh;
  border: 1px solid black;
  background-color: var(--instrument-side-color);
  left: -100px;
  transition: left .2s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instruments::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 200px;
  background-color: var(--instrument-side-color);;
  border-radius: 0 20px 20px 0;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.instruments:hover {
  left: 0;
}
.instruments__item {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}




.container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  width: 100%;
  height: 40px;
  text-align: center;
}
.structure {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
}
/* draw-area style start */
.draw-area {
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  border: 1px solid black;
}
.canvas {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
#canvas-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.element {
  position: absolute;
  font-size: 14px;
  padding: 15px;
  overflow: hidden;
  border-radius: 9999px;
  background-color: transparent;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  user-select: none;
  cursor: move;
}
.element-smooth-move {
  transition: all var(--delay-delete) linear;
}
.element:hover {
  z-index: 9999;
}

.element__text {
  padding: 10px 20px;
  border-radius: 9999px;
  background-color: #fff;
  border: 1px dashed black;
  z-index: 2;
  transition: all .2s linear;
}
.element__text:hover {
  box-shadow: 0 4px 4px 1px #000;
  transform: scale(1.05);
  font-weight: 700;
}

.element__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: #000;
  opacity: 0;
  cursor: pointer;
  transition: all .3s linear;
}

.element:hover .element__btn {
  opacity: 1;
}

.element__btn-remove {
  background-color: hsl(0, 60%, 50%);
  bottom: -50%;
  right: -50%;
}
.element__btn-create {
  background-color: hsl(90, 60%, 50%);
  cursor: copy;
  top: -50%;
  left: -50%;
}
.element__btn-edit {
  background-color: hsl(270, 60%, 50%);
  cursor: text;
  top: -50%;
  right: -50%;
}
.element__btn-info {
  background-color: hsl(180, 60%, 50%);
  cursor: help;
  bottom: -50%;
  left: -50%;
}


.element__input {
  border: none;
  text-align: center;
}

.footer {
  height: 30px;
  background-color: #303030;
  text-align: center;
  color: #faebd7;
  line-height: 30px;
}


.hide {
  display: none;
}
